    <h2>Personal Information</h2>
       <app-personal-info></app-personal-info>
   
    <h2>Skills</h2>
       <app-skills></app-skills> 
    
    <h2>Experience</h2>
        <app-experience></app-experience>
       
    <h2>Location</h2> 
        <app-location></app-location>

    <h2>Project</h2>
        <app-projects></app-projects>
    

    <h2>Certificates</h2>
       <app-certificates></app-certificates>
    
    
    <h2>Academic Qualification</h2>
        <app-academic-qualifications></app-academic-qualifications>   