<form (submit)="addPost_Location()">
    <div class="example-container">
      <h4>profileId</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Loc.profileId" name="profileId">
    
      <br>
    
      <h4>Address</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Loc.address" name="addr">

      <br>
    
      <h4>City</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Loc.city" name="city">

      <br>
    
      <h4>Pin</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Loc.pin" name="pin">

      <br>
    
      <h4>State</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Loc.state" name="state">

      <br>
    
      <h4>Country</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Loc.country" name="cont">

    </div>
    <br>
    <button color="warn" type="submit" value="submit">Post</button>
  </form>