<div *ngIf="pi_check">
  <div class="card">
    <div class="card-body">
      <h2>Personal Information</h2>
      Profile Id: {{getPost_PI.profileId}}
      <br> <img style="width:100px;height:100px"  src={{imageUrl}}>
      <br> Name: {{getPost_PI.name}}
      <br> Age: {{getPost_PI.age}}
      <br> Contact no.: {{getPost_PI.mobile}}
      <br> Email: {{getPost_PI.email}}
      <br> Date of Birth: {{getPost_PI.dob}}
      <br> Gender: {{getPost_PI.gender}}
      <br> Blood Group: {{getPost_PI.bloodGroup}}
      <br> Facebook: {{getPost_PI.facebook}}
      <br> LinkedIn: {{getPost_PI.linkedin}}
      <br> Github: {{getPost_PI.github}}
    </div>
  </div>

</div>



<div class="modal fade" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Personal Info</h4>
        <button class="close" data-dismiss="modal">&times;</button>

      </div>
      <!-- end modal-header -->
      <div class="modal-body">
        <form class="form-horizontal" (submit)="addPost_PI()">

          <div style="margin-bottom: 12px;">
              <img style="width:100px;height:100px"  src={{imageUrl}}>
              <input #fileInput style="display: none;" type="file" #Image accept="/image/*" (change)="handleFileInput($event.target.files)">
              <button type="button" class="btn btn-sm btn-light" (click)="fileInput.click()" >Choose File</button>
          </div>
          
          <div class="form-group">
            <input class="form-control" placeholder="Profile Id" [(ngModel)]="newPost_PI.profileId" name="profileId" type="text">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Name" [(ngModel)]="newPost_PI.name" name="name" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Age" type="number" [(ngModel)]="newPost_PI.age" name="age">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Contact no." type="text" [(ngModel)]="newPost_PI.mobile" name="mobile">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Email" type="text" [(ngModel)]="newPost_PI.email" name="email">
          </div>
          
          <div class="form-group">
            <input class="form-control" placeholder="Date of birth" type="date" [(ngModel)]="newPost_PI.dob" name="dob">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Gender" type="text" [(ngModel)]="newPost_PI.gender" name="gender">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Blood Group" type="text" [(ngModel)]="newPost_PI.bloodGroup" name="blood">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Facebook" type="url" [(ngModel)]="newPost_PI.facebook" name="facebook">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="LinkedIn" type="url" [(ngModel)]="newPost_PI.linkedin" name="linkedin">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Github" type="url" [(ngModel)]="newPost_PI.github" name="github">
          </div>
          <div class="form-group">
            <button class="btn btn-dark pull-right submitbtn" type="submit">Send!</button>
          </div>
        </form>
      </div>
      <!-- end modal-body -->

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
      </div>
      <!-- end modal-footer -->
    </div>
    <!-- end modal-content -->
  </div>
  <!-- end modal-dialog -->
</div>
<!-- end myModal -->