#heading {
    color: white;
}
a {
    text-decoration: none;
}

.drop li a:hover {
    background: #00b3b3;
    color: white;
}

#usercaret {
    color: white;
}

#usercaret:hover {
    color: #ccc;
}
#userDrop li a:hover{
    background: #00b3b3;
    color: white;
}
