<!--Navbar-->
<nav class="mb-1 navbar navbar-expand-lg navbar-light fixed-top">
	<a class="navbar-brand" [routerLink]="['/home']">Matchify</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
			</li>

			<!-- Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
				<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" [routerLink]="['/home']">Search employee</a>
				</div>
			</li>

		</ul>
		<form class="form-inline mx-auto">
			<input class="form-control" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-md my-0 ml-sm-2" [routerLink]="['/home']" type="submit" style="color:white;font-weight: bold">Search</button>
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link waves-effect waves-light" [routerLink]="['/contact']">
					<i class="fa fa-envelope"></i> Contact
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<div *ngIf="user_check">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
					 aria-expanded="true">
						<i class="fa fa-user"></i> Profile </a>
					<div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
						<a class="dropdown-item waves-effect waves-light" [routerLink]="['/profile']">Settings</a>
						<a class="dropdown-item waves-effect waves-light" [routerLink]="['/profile']">{{profile}}</a>
						<a class="dropdown-item waves-effect waves-light" [routerLink]="['/portfolios']">Portfolio</a>
						<a class="dropdown-item waves-effect waves-light" [routerLink]="['']" (click)="logout()">Log out</a>
					</div>
				</li>
			</div>
		</ul>
	</div>
</nav>
<!--/.Navbar-->
<!-- </nav>
<header class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
	<div class="container">
		<button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a href="#" class="navbar-brand nav-link" id="heading">Matchify</a> -->
<!-- navbar starts here -->
<!-- <nav class="navbar-collapse collapse d-flex justify-content-around" id="navbarCollapse">
			<form class="form-inline" action="/action_page.php">
				<div class="col-xs-6">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
				</div>	<button class="btn btn-success pull-right" type="submit">Search</button>
				
			</form>
			<div *ngIf="user_check">
				<ul class="navbar-nav ml-auto">
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="usercaret">
							<span>User</span>
						</a>
						<ul class="dropdown-menu" id="userDrop">
							<li>
								<a href="#" class="dropdown-item">Settings</a>
							</li>
							<li>
								<a href="#" class="dropdown-item">Welcome {{profile}}</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#" class="dropdown-item" (click)="logout()">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav> -->
<!-- navbar ends here -->

<!-- 
	</div>
</header> -->

<div class="">
	<router-outlet></router-outlet>
</div>



<!-- Footer -->
<footer class="page-footer font-small teal">

	<!-- Footer Links -->
	<div class="container">

		<!-- Grid row-->
		<div class="row text-center d-flex justify-content-center pt-5 mb-3">

			<!-- Grid column -->
			<div class="col-md-2 mb-3">
				<h6 class="text-uppercase font-weight-bold">
					<a [routerLink]="['/about']">About us</a>
				</h6>
			</div>
			<!-- Grid column -->


			<!-- Grid column -->
			<div class="col-md-2 mb-3">
				<h6 class="text-uppercase font-weight-bold">
					<a [routerLink]="['/help']">Help</a>
				</h6>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-2 mb-3">
				<h6 class="text-uppercase font-weight-bold">
					<a [routerLink]="['/contact']">Contact</a>
				</h6>
			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row-->
		<hr class="rgba-white-light" style="margin: 0 15%;">

		<!-- Grid row-->
		<div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

			<!-- Grid column -->
			<div class="col-md-8 col-12 mt-5">
				<p style="line-height: 1.7rem">This website will help you to find the best resources within your buisness to work on
					the projects you have in stock. It's simple and easy to use and will help you find the best people with desired skills
					and other desired requirements to work on your projects.</p>
			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row-->
		<hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

		<!-- Grid row-->
		<div class="row pb-3">

			<!-- Grid column -->
			<div class="col-md-12">

				<div class="mb-5 flex-center">

					<!-- Facebook -->
					<a class="fb-ic" href="https://www.facebook.com/" target="_blank">
						<i class="fa fa-facebook fa-lg white-text mr-4"> </i>
					</a>
					<!-- Twitter -->
					<a class="tw-ic" href="https://twitter.com/login?lang=en" target="_blank">
						<i class="fa fa-twitter fa-lg white-text mr-4"> </i>
					</a>
					<!-- Google +-->
					<a class="gplus-ic" href="https://plus.google.com/" target="_blank">
						<i class="fa fa-google-plus fa-lg white-text mr-4"> </i>
					</a>
					<!--Linkedin -->
					<a class="li-ic" href="https://in.linkedin.com/" target="_blank">
						<i class="fa fa-linkedin fa-lg white-text mr-4"> </i>
					</a>
					<!--Instagram-->
					<a class="ins-ic" href="https://www.instagram.com/" target="_blank">
						<i class="fa fa-instagram fa-lg white-text mr-4"> </i>
					</a>
					<!--Pinterest-->
					<a class="pin-ic" href="https://in.pinterest.com/" target="_blank">
						<i class="fa fa-pinterest fa-lg white-text"> </i>
					</a>

				</div>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row-->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2018 Copyright:
		<a [routerLink]="['/']"> Matchify.com</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->