
nav{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.btn{
    border-radius: 20px;
    font-size: 13px;
}
footer{
    margin-bottom: 0;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    color: black;
}
@media (max-width: 575px) {
    input[type="text"] {
    width: 50%;
    }
}