
nav{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.btn{
    border-radius: 20px;
    font-size: 13px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: whitesmoke;
}
footer{
    margin-bottom: 0;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: black;
}

@media (max-width: 575px) {
    input[type="text"] {
    width: 50%;
    }
}