.loginSubmit {
    margin-top: 90px;
    width: 100%;
}

.validation_message {
    font-size: 12px;
    color: red;
    margin-top: 1%;
}

#orStyle {
    font-weight: bold;
    color: #444;
    text-align: center;
    margin-top: 12px;
}

#signUp {
    background: #00ace4;
    color: white;
}

#card-align{
    position: relative;
    left: 40px;
    width: 90%;
    top: 50px;
}
mat-card-header{
    text-align: center;
}
mat-card-content{
    text-align: center;
}
#border_seperate {
    border-right: 0.5px solid #999;
    position: relative;
    top: 10px;
}
#card-align1{
    position: relative;
    left: 40px;
    width: 90%;
    top: 50px;
}
.row{
    margin-bottom: 10px;
}
button{
    border-radius: 10px;
}