<div *ngIf="skills_check">
  <div class="card shade">
      <div class="card-header text-primary border-light">Skills</div>
    <div class="card-body">
           Skill: {{getPost_Skill.skill}}
      <br> Level: {{getPost_Skill.level}}
      <br> Duration: {{getPost_Skill.noOfMonths}}
      <br> Further Usage: {{getPost_Skill.furtherUsage}}
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Skills</h4>
        <button class="close" data-dismiss="modal">&times;</button>

      </div>
      <!-- end modal-header -->
      <div class="modal-body center-align">
          <form class="form-horizontal" id="skill-form" (submit)="addPost_Skill()">
            <mat-form-field>
              <input matInput placeholder="I am skilled at" [(ngModel)]="newPost_Skill.skill" name="skill">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="my skill level is" type="number" [(ngModel)]="newPost_Skill.level" name="level">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="I trained at it for" type="number" [(ngModel)]="newPost_Skill.noOfMonths" name="months">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="further use of it is" type="text" [(ngModel)]="newPost_Skill.furtherUsage"  name="use">
            </mat-form-field>
   
            <hr>
            <button class="btn btn-primary susbmitbtn" type="submit">Send</button> &nbsp;&nbsp;
          </form>
        </div>
      <!-- end modal-body -->
    </div>
    <!-- end modal-content -->
  </div>
  <!-- end modal-dialog -->
</div>
<!-- end myModal -->