.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

  .example-container > * {
    width: 90%;
    text-align: center;
  }

  .example-container {
    text-align: center;
  }

  .center-align > * {
    text-align: center;
  }

  .center-align {
    text-align: center;
  }

  .dropdown-menu a:hover {
   cursor: pointer;
  }

  .validation_message {
    font-size: 12px;
    color: red;
    margin-top: -4%;
}

.list-group-item{
  padding: 4px 0 4px 20px;
  color: black;
  text-align: left;
}

.list-group-item:hover{
  color: blue;
}

.center-align > * {
  text-align: center;
}

.center-align {
  text-align: center;
}

.shade {
  box-shadow: 3px 3px 5px grey;
}

#autocomplete {
  z-index: 1050;
}