<div class="container card">
    <h1>Contact</h1>
    <br>

    <div class="flex-container">

        <div class="card column">
            <div class="card-body">
                <h4 class="card-title">Address:</h4>
                <p class="card-text">117, Above SBI, Opposite Raheja Arcade,, 7th Block, Koramangala, Bengaluru, Karnataka
                    560095</p>
                <h4>Website:</h4><a href="http://www.stackroute.in/">http://www.stackroute.in/</a><br><br>
                <h4>Phone:</h4>
                <p>080 4127 5059</p>
            </div>
        </div>
    </div>
</div>