<div class="container container-fluid card">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h1>Rajat Deepak Naik</h1>
      <img class="rounded-circle" mat-card-lg-image src="https://scontent.fblr2-1.fna.fbcdn.net/v/t1.0-9/21430553_588573508200153_2361372440587924427_n.jpg?_nc_cat=0&oh=cdfb60622258f5ce98203032f96e7d87&oe=5BFF4AB8"
        alt="Profile Pic">
    </div>
    <div class="col-sm-8 ">
      <br><br>
      <h2>
        <u>Skills:</u>
      </h2>
      <h3>
        <ul id="menu flex-container">
          <li>Java</li>
          <li>Angular</li>
          <li>C++</li>
          <li>Java</li>
        </ul>
      </h3>
    </div>
  </div>
  <br><br>
  <div class="row move">
    <h2>
      <u>Projects:</u>
    </h2>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia optio expedita eos inventore ea consequatur in
      velit delectus laborum provident, id sequi excepturi autem aut veniam accusamus. Minus, aspernatur rem!</h3>
  </div>
  <br><br><br>
  <div class="row move">
    <h2>
      <u>Experience:</u>
    </h2>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia optio expedita eos inventore ea consequatur in
      velit delectus laborum provident, id sequi excepturi autem aut veniam accusamus. Minus, aspernatur rem!</h3>
  </div>
  <br><br><br>
  <div class="row move">
    <h2>
      <u>Trainings:</u>
    </h2>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia optio expedita eos inventore ea consequatur in
      velit delectus laborum provident, id sequi excepturi autem aut veniam accusamus. Minus, aspernatur rem!</h3>
  </div>



  <!-- <mat-card class="skill-card">
      <mat-card-title>Rajat Deepak Naik</mat-card-title>
    <img class="rounded" mat-card-lg-image src="https://scontent.fblr2-1.fna.fbcdn.net/v/t1.0-9/21430553_588573508200153_2361372440587924427_n.jpg?_nc_cat=0&oh=cdfb60622258f5ce98203032f96e7d87&oe=5BFF4AB8" alt="Profile Pic">
    <mat-card-content>
      <mat-list>
        <mat-list-item>Skill:</mat-list-item>
       
        <mat-list-item>Projects:</mat-list-item>
      
        <mat-list-item>Experience:</mat-list-item>

        <mat-list-item>Training:</mat-list-item>

      </mat-list>
    </mat-card-content>
  </mat-card> -->
</div>