<div class="container d-flex container-fluid card">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h1 id="heading1">Rajat Deepak Naik</h1>
      <img class="rounded-circle" mat-card-lg-image src="https://scontent.fblr2-1.fna.fbcdn.net/v/t1.0-9/21430553_588573508200153_2361372440587924427_n.jpg?_nc_cat=0&oh=cdfb60622258f5ce98203032f96e7d87&oe=5BFF4AB8"
        alt="Profile Pic">
    </div>
    <div class="col-sm-8 ">
      <br><br>
      <h2>
        <u>Skills:</u>
      </h2>
      <h3>
         <div *ngFor="let item of UserData.skills">
        {{item.skill}}
        </div>
        
      </h3>
    </div>
  </div>
  <br><br>
  <div class="row move">
    <h2>
      <u>Projects:</u>
    </h2>
    <h3><div *ngFor="let item of UserData.projects">
        {{item.projectAt}}
        {{item.role}}
        {{item.projectTitle}}
        </div></h3>
  </div>
  <br><br><br>
  <div class="row move">
    <h2>
      <u>Experience:</u>
    </h2>
    <h3><div *ngFor="let item of UserData.experience">
        {{item.organizationName}}
        {{item.role}}
        </div></h3>
  </div>
  <br><br><br>
  <div class="row move">
    <h2>
      <u>Trainings:</u>
    </h2>
    <h3><div *ngFor="let item of UserData.certificates">
        {{item.trainingName}}
        {{item.authority}}
        {{item.duration}}
        </div></h3>
  </div>



  <!-- <mat-card class="skill-card">
      <mat-card-title>Rajat Deepak Naik</mat-card-title>
    <img class="rounded" mat-card-lg-image src="https://scontent.fblr2-1.fna.fbcdn.net/v/t1.0-9/21430553_588573508200153_2361372440587924427_n.jpg?_nc_cat=0&oh=cdfb60622258f5ce98203032f96e7d87&oe=5BFF4AB8" alt="Profile Pic">
    <mat-card-content>
      <mat-list>
        <mat-list-item>Skill:</mat-list-item>
       
        <mat-list-item>Projects:</mat-list-item>
      
        <mat-list-item>Experience:</mat-list-item>

        <mat-list-item>Training:</mat-list-item>

      </mat-list>
    </mat-card-content>
  </mat-card> -->
</div>