.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 45px;
}
h3 {
  margin-left: 10px;
}

.move {
  margin-left: 10px;
}
d-flex {
  width: 100px;
}

@media (max-width: 768px) {
    img {
      width: 150px;
      height: 150px;
     margin-left: 10px;
    }
  
    #heading1{
      margin-left: 20px;
      font-size: 30px;
  }
  
    .move {
      margin-left: 0px;
    }
  }
  @media (max-width: 425px) {
    img {
      width: 150px;
      height: 150px;
     margin-left: 120px;
    }
  
    #heading1{
      margin-left: 70px;
      font-size: 30px;
  }
  
    .move {
      margin-left: 0px;
    }
  }
  @media (max-width: 320px) {
    img {
      width: 150px;
      height: 150px;
     margin-left: 70px;
    }
  
    #heading1{
      margin-left: 20px;
      font-size: 30px;
  }
  
    .move {
      margin-left: 0px;
    }
  }