<!-- <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script> -->
<div *ngIf="firstTime_check">
  <div class="card shade">
      <div class="card-header text-primary">Projects</div>

    <div class="card-body">

      <ul class="list-group list-group-flush">
        <div class="w-auto" *ngFor="let item of UserData.project; index as i"><a href="#ProjectsModal-{{i}}" class="list-group-item list-group-item-light list-group-item-action" data-toggle="modal">{{item.projectTitle | titlecase}}
            <br> as {{item.role | titlecase}} <br> from {{item.from}} to {{item.to}}
        </a>
               

<div class="modal fade" id="ProjectsModal-{{i}}">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Projects</h4>
                  <button class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="card-body">
             
                    <div class="card-header d-flex">
                      <h3 style="flex-grow: 20">Project</h3>
                      <a href="#UpdateProjectModal-{{i}}" data-toggle="modal"><i class="material-icons">mode_edit</i></a> &nbsp;
                      <a (click)="delete(i)" data-dismiss="modal"><i class="material-icons" style="color: red;">delete</i></a>
                    </div> 
                    <div class="card-body">   
                           
                      Project At: {{item.projectAt}}
                      <br> Role: {{item.role}}
                      <br> Department: {{item.department}}
                      <br> Project Location: {{item.projectLocation}}
                      <br> Project Title: {{item.projectTitle}}
                      <br> Start Date: {{item.from}}
                      <br> End Date: {{item.to}}
                      <br> Synopsis: {{item.synopsis}}
                      <br> Url: {{item.url}}
                      <br> Skills: {{item.skills}}
                    </div>  
                  </div>
              </div><!-- end modal body -->
          </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
  </div><!-- end myModal --> 


<div class="modal fade" id="UpdateProjectModal-{{i}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Projects</h4>
          <button class="close" data-dismiss="modal">&times;</button>
  
        </div>
        <!-- end modal-header -->
        <div class="modal-body center-align">
            <form class="form-horizontal" id="project-form" (submit)="update(i)">
     
              <mat-form-field>
                <input matInput placeholder="My project Id was" [(ngModel)]="editPost_Project[i].projectId" name="proId">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="I worked on a project at" [(ngModel)]="editPost_Project[i].projectAt" name="proAt">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="my project role was" [(ngModel)]="editPost_Project[i].role" name="role">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="I worked in the department of" [(ngModel)]="editPost_Project[i].department"
                  name="dept">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="the project location was" [(ngModel)]="editPost_Project[i].projectLocation"
                  name="loc">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="the project title was" [(ngModel)]="editPost_Project[i].projectTitle" name="title">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="the team size was" [(ngModel)]="editPost_Project[i].teamSize" name="team">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="project started on" [(ngModel)]="editPost_Project[i].from" type="date" name="start">
              </mat-form-field>
     
              <!-- <div class="form-group">
                <div class="form-group">
                    <label >Start Date</label>
                    <input type="date" placeholder="Start Date" min="1000-01-01" [(ngModel)]="newPost_Project.from"
                           max="3000-12-31" class="form-control" name="start">
                </div>
            </div> -->
              <!-- <div class="form-group">
                <div class="form-group">
                    <label >End Date</label>
                    <input type="date" placeholder="End Date" min="1000-01-01" [(ngModel)]="newPost_Project.to"
                           max="3000-12-31" class="form-control" name="start">
                </div>
            </div> -->
     
              <mat-form-field>
                <input matInput placeholder="project completed on" [(ngModel)]="editPost_Project[i].to" type="date" name="end">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="here is a short synopsis" [(ngModel)]="editPost_Project[i].synopsis" name="synopsis">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="Find the project at" type="url" [(ngModel)]="editPost_Project[i].url" name="url">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="here is a demo link" type="url" [(ngModel)]="editPost_Project[i].demoURL" name="demo">
              </mat-form-field>
     
              <mat-form-field>
                <input matInput placeholder="skills I developed are" [(ngModel)]="editPost_Project[i].skills" name="skills">
              </mat-form-field>
     
              <hr>
              <button class="btn btn-warning susbmitbtn" type="submit">Update</button> &nbsp;&nbsp;
            </form>
          </div>
        <!-- end modal-body -->
      </div>
      <!-- end modal-content -->
    </div>
    <!-- end modal-dialog -->
  </div>
  <!-- end myModal -->

</div></ul>
</div>
</div>
</div> 


<div class="modal fade" id="myModal5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Projects</h4>
        <button class="close" data-dismiss="modal">&times;</button>

      </div>
      <!-- end modal-header -->
      <div class="modal-body center-align">
          <form class="form-horizontal" id="project-form" (submit)="addPost_Project()">
   
            <mat-form-field>
              <input matInput placeholder="My project Id was" [(ngModel)]="newPost_Project.projectId" name="proId">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="I worked on a project at" [(ngModel)]="newPost_Project.projectAt" name="proAt">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="my project role was" [(ngModel)]="newPost_Project.role" name="role">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="I worked in the department of" [(ngModel)]="newPost_Project.department"
                name="dept">
            </mat-form-field>

   
            <mat-form-field>
              <input matInput placeholder="the project location was" [(ngModel)]="newPost_Project.projectLocation"
                name="loc">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="the project title was" [(ngModel)]="newPost_Project.projectTitle" name="title">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="the team size was" [(ngModel)]="newPost_Project.teamSize" name="team">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="project started on" [(ngModel)]="newPost_Project.from" type="date" name="start">
            </mat-form-field>
   
            <!-- <div class="form-group">
              <div class="form-group">
                  <label >Start Date</label>
                  <input type="date" placeholder="Start Date" min="1000-01-01" [(ngModel)]="newPost_Project.from"
                         max="3000-12-31" class="form-control" name="start">
              </div>
          </div> -->
            <!-- <div class="form-group">
              <div class="form-group">
                  <label >End Date</label>
                  <input type="date" placeholder="End Date" min="1000-01-01" [(ngModel)]="newPost_Project.to"
                         max="3000-12-31" class="form-control" name="start">
              </div>
          </div> -->
   
            <mat-form-field>
              <input matInput placeholder="project completed on" [(ngModel)]="newPost_Project.to" type="date" name="end">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="here is a short synopsis" [(ngModel)]="newPost_Project.synopsis" name="synopsis">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="Find the project at" type="url" [(ngModel)]="newPost_Project.url" name="url">
            </mat-form-field>
   
            <mat-form-field>
              <input matInput placeholder="here is a demo link" type="url" [(ngModel)]="newPost_Project.demoURL" name="demo">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="skills I developed are" [(ngModel)]="newPost_Project.skills" name="skills" [formControl]="searchTerm1" [matAutocomplete]="auto">

              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let ski of skill" [value]="ski.name">
                      {{ ski.name }}
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
            
   
            <!-- <mat-form-field>
              <input matInput placeholder="skills I developed are" [(ngModel)]="newPost_Project.skills" name="skills">
            </mat-form-field> -->
   
            <hr>
            <button class="btn btn-primary susbmitbtn" type="submit">Send</button> &nbsp;&nbsp;
          </form>
        </div>
      <!-- end modal-body -->
    </div>
    <!-- end modal-content -->
  </div>
  <!-- end modal-dialog -->
</div>
<!-- end myModal -->