<form (submit)="addPost_Project()">
    <div class="example-container">
      <h4>Profile Id</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.profileId" name="profileId">
    
      <br>
    
      <h4>Project Id</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.projectId" name="proId">

      <br>
    
      <h4>Project At</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.projectAt" name="proAt">

      <br>
    
      <h4>Role</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.role" name="role">

      <br>
    
      <h4>Department</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.department" name="dept">

      <br>
    
      <h4>Project Location</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.projectLocation" name="loc">

      <br>
    
      <h4>Project Title</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.projectTitle" name="title">

      <br>
    
      <h4>Team Size</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.teamSize" name="team">

      <br>
    
      <h4>Start date</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.from" name="from">

      <br>
    
      <h4>End date</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.to" name="to">

      <br>
    
      <h4>Synopsis</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.synopsis" name="synopsis">

      <br>
    
      <h4>Url</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.url" name="url">

      <br>
    
      <h4>demoURL</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.demoURL" name="demo">

      <br>
    
      <h4>Skills</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.skills" name="skills">

      <br>
    
      <h4>Message</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Project.message" name="mess">
    
  </div>
    <br>
    <button color="warn" type="submit" value="submit">Post</button>
  </form>