<form (submit)="addPost_Exp()">
    <div class="example-container">
      <h4>profileId</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Exp.profileId" name="profileId">
    
      <br>
      
      <h4>Name of the Organization</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Exp.organizationName" name="org">

      <br>
      
      <h4>Role</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Exp.role" name="role">

      <br>
      
      <h4>Start date</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Exp.startDate" name="start">

      <br>
      
      <h4>End date</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Exp.endDate" name="end">

      <br>
      
      <h4>Message</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Exp.message" name="message">
    
    </div>
    <br>
    <button color="warn" type="submit" value="submit">Post</button>
  </form>
