<div *ngIf="exp_check">
  <div class="card">
    <div class="card-body">
      <h2>Experience</h2>
      Profile Id: {{getPost_Exp.profileId}}
      <br> Organization name: {{getPost_Exp.organizationName}}
      <br> Role: {{getPost_Exp.role}}
      <br> Start date: {{getPost_Exp.startDate}}
      <br> End date: {{getPost_Exp.endDate}}
      <br> Message: {{getPost_Exp.message}}
    </div>
  </div>
</div>




<div class="modal fade" id="myModal3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Experience</h4>
        <button class="close" data-dismiss="modal">&times;</button>

      </div>
      <!-- end modal-header -->
      <div class="modal-body">
        <form class="form-horizontal" (submit)="addPost_Exp()">
          <div class="form-group">
            <input class="form-control" placeholder="Profile Id" type="text" [(ngModel)]="newPost_Exp.profileId" name="profileId">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Name of the organization" type="text" [(ngModel)]="newPost_Exp.organizationName"
              name="org">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Role" type="text" [(ngModel)]="newPost_Exp.role" name="role">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Start Date" type="text" [(ngModel)]="newPost_Exp.startDate" name="start">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="End Date" type="text" [(ngModel)]="newPost_Exp.endDate" name="end">
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Message" type="text" [(ngModel)]="newPost_Exp.message" name="message">
          </div>
          <div class="form-group">
            <button class="btn btn-dark pull-right submitbtn" type="submit">Send!</button>
          </div>
        </form>
      </div>
      <!-- end modal-body -->

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
      </div>
      <!-- end modal-footer -->
    </div>
    <!-- end modal-content -->
  </div>
  <!-- end modal-dialog -->
</div>
<!-- end myModal -->