<body>
  <div class="container md-form form-lg d-flex justify-content-center">
    <form class="form-inline" (submit)="getResults(searchQuery)">
      <input type="text" class="form-control" placeholder="Search for Employees" [(ngModel)]="searchQuery" name="searchQuery">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>

  <div class="container">
    <div class="list-group" *ngFor="let profile of SearchResult">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" style="color: black" (click)="portfolioRedirect(profile.profileId)">{{profile.profileId}}</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1" style="color: black">Skills: {{profile.skills}}</p>
      <p class="mb-1" style="color: black">Experience: {{profile.experience}} years</p>
      <small style="color: black">From {{profile.city}}</small>
      <br>
    </div>
  </div>

  <br><br><br><br><br><br><br><br>
</body>