body{
  margin-top: -20px;
  /* background-image: url(''); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Raleway', sans-serif;
}

.flex-container{
  /* background-color: green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -80px; 
  /* align-items: stretch; */
}

.card{
  text-align: center;
  margin: 30px;
  
}



form {
  margin-top: 150px;
  margin-bottom: 150px;
}
@media (min-width: 768px) {
  input[type="text"] {
    width: 600px;
    /* height: 80px; */
    font-size: 40px;
  }
  button {
   border-radius: 10px;
    font-size: 30px;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  }
}
@media (max-width: 768px) {
  input[type="text"] {
    width: 230px;
    height: 50px;
    font-size: 20px;
  }
  button {
    border-radius: 10px;
    font-size: 15px;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  }
}
@media (max-width: 375px) {
  input[type="text"] {
    width: 200px;
    font-size: 15px;
  }
  button {
    border-radius: 10px;
    font-size: 15px;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  }
}