<form (submit)="addPost_Academy()">
    <div class="example-container">
    
      <h4>profileId</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.profileId" name="profileId">
    
      <br>
    
      <h4>Qualification</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.qualification" name="qualification">
      
      <br>

      <h4>Institute name</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.instituteName" name="instituteName">
      
      <br>

      <h4>Year of joining</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.yearOfJoining" name="joinYear">

      <br>

      <h4>Year of Completion</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.yearOfCompletion" name="completeYear">

      <br>

      <h4>Institute Type</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.instituteType" name="instituteType">

      <br>

      <h4>Stream</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.stream" name="stream">

      <br>

      <h4>Marks</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_Academy.marks" name="marks">
    </div>
    <br>
    <button color="warn" type="submit" value="submit">Post</button>
</form>
