.visiting{
    margin-top: 100px;
}
img{
    float: left;
}
mat-card{
    height: 300px;
    width: 600px;
}
mat-card-content{
    float: left;
    margin-left: 20px;
}
mat-card-footer{
    margin-top: 160px;
    float: right;
}
