<form (submit)="addPost_Skill()">
    <div class="example-container">
    <h4>Profile Id</h4>
    <br>
    <input type="text" [(ngModel)]="newPost_Skill.profileId" name="profileId">
 
    <br>
 
    <h4>Skill</h4>
    <input type="text" [(ngModel)]="newPost_Skill.skill" name="skill">

    <br>
 
    <h4>Level</h4>
    <input type="text" [(ngModel)]="newPost_Skill.level" name="level">

    <br>
 
    <h4>Duration</h4>
    <input type="text" [(ngModel)]="newPost_Skill.noOfMonths" name="months">

    <br>
 
    <h4>Further Usage</h4>
    <input type="text" [(ngModel)]="newPost_Skill.furtherUsage" name="use">
</div>
  <br>
  <button color="warn" type="submit" value="submit">Post</button>
</form>