<body>
  <br>
  <br>
  <br><br><br>
  <h5 style="text-align: center; font-family: 'Raleway', sans-serif; letter-spacing: 3px;">{{UserData.personalInfo.name | titlecase}}, please complete your profile to see the full portfolios</h5>
  <div class="flex-container" style="margin-top: -50px;">
    <div class="column">
      <div class="socialmedia d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{image.src}} alt="Add Your Profile Pic">
          <div class="card-body">
            <h6>{{UserData.personalInfo.name | titlecase}}
              <br>
              <small class="card-subtitle text-muted">{{UserData.personalInfo.age}}, {{UserData.personalInfo.city | titlecase}}</small>
            </h6>
            <p>Works at
              <br>{{UserData.experience[0].organizationName | titlecase}}</p>
            <a href="#" class="card-link">
              <small>{{UserData.personalInfo.email}}</small>
            </a>
            <br>
            <a href="#" class="card-link">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="card-link">
              <i class="fa fa-github"></i>
            </a>
            <a href="#" class="card-link">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#" class="card-link">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="visiting d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{image.src}} alt="Add Your Profile Pic">
          <div class="card-body">
            <h5 class="card-title mb-0">{{UserData.username | titlecase}}</h5>
            <h6>
              <small class="card-subtitle text-muted">{{UserData.experience[0].role | titlecase}} at {{UserData.experience[0].organizationName | titlecase}}</small>
            </h6>
            <p class=""> Contact no.: {{UserData.personalInfo.mobile}}
              <br> Date of Birth: {{UserData.personalInfo.dob}}
              <br> Knows {{UserData.skills[0].skill | titlecase}}.
              <br> Qualification: {{UserData.academics[0].qualification | titlecase}}
              <br> Institute Name: {{UserData.academics[0].instituteName | titlecase}}
              <br> Year of Completion: {{UserData.academics[0].yearOfCompletion}}
              <br> Marks: {{UserData.academics[0].marks}}
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="flex-container">
    <div class="column2">

      <div class="card">
        <div class="flex-container">

          <div class="column2-1 pt-5">
            <div style="margin-left: -43px;">
              <img src={{image.src}} class="rounded-circle pull-left" alt="Add profile picture" width="200" height="200">
            </div>
            <h1 style="color: rgb(48, 43, 43)">q </h1>
            <h4 style="color: azure; margin-left: 8px;">CONTACT</h4><hr>
            <p style="color: azure; margin-left: 10px;" class="card-text">
                <i class="material-icons">location_on</i>&nbsp; {{UserData.location[0].address | titlecase}}
              <br> <i class="material-icons">call</i>&nbsp; {{UserData.personalInfo.mobile}}
              <br> <i class="material-icons">email</i>&nbsp; {{UserData.personalInfo.email}}
            </p>
            <br>
            <br>
            <br>
            <br>
           
            <h4 style="color: azure; margin-left: 8px;">REFERENCES</h4><hr>
            <p style="color: azure; margin-left: 10px;" class="card-text">
                <i class="material-icons">account_circle</i>&nbsp; Dr. John Doe
              <br> <i class="material-icons">call</i>&nbsp; 6565656564
              <br> <i class="material-icons">email</i>&nbsp; johndoe86@matcho.com
            </p><hr>
            <p style="color: azure; margin-left: 10px;" class="card-text">
                <i class="material-icons">account_circle</i>&nbsp; Mr. Edward Cullen
                <br> <i class="material-icons">call</i>&nbsp; 7656339540
                <br> <i class="material-icons">email</i>&nbsp; cullen_ed@matcho.com
              </p>
          </div>&nbsp;



          <div class="column2-2 pt-5">
            <br>
            <h2 style="text-align: center; font-family: 'Raleway', sans-serif; letter-spacing: 5px;" class="ml-5">{{UserData.personalInfo.name | uppercase}}</h2>
            <p style="text-align: center;" class="card-subtitle ml-5">{{UserData.experience[0].role | titlecase}}</p>
            <hr>
            <br>
            <h4> <i class="material-icons">work</i>&nbsp;&nbsp;WORK EXPERIENCE</h4>

            <p class="card-text">
              <div *ngFor="let item of UserData.experience">
                <h5 class="card-title">{{item.role}}</h5>
                <p class="card-subtitle">{{item.organizationName}}</p>
                <p>
                  Start date: {{item.startDate}}
                  <br> End date: {{item.endDate}}
                </p>
              </div>
              <hr>
              <h4><i class="material-icons">devices</i>&nbsp;&nbsp;PROJECTS</h4>

              <p class="card-text">
                <div *ngFor="let item of UserData.project">
                  <h5 class="card-title">{{item.projectTitle}}</h5>
                  <p class="card-subtitle">{{item.projectAt}}</p>
                  <p>
                    The role in this project was {{item.role}}. Completed this project under {{item.department}} department at 
                    {{item.projectLocation}}. The team consisted of {{item.teamSize}} 
                    members. This project started on {{item.from}} and was completed on {{item.to}}.
                    The skills acquired during this period were {{item.skills}}.

                  </p>
                </div>
                              <hr>
                <h4><i class="material-icons">stars</i>&nbsp;&nbsp;SKILLS</h4>

                <p class="card-text">
                    <div *ngFor="let item of UserData.skills">
                        <p>
                          {{item.skill}}   <hr>
                        
                      </div>


          </div>
        </div>
        <!-- <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div> -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>