<div class="visiting">
    <mat-card class="visiting-card">
        <mat-card-title>MATCHMAKER</mat-card-title>
        <mat-card-subtitle>My Skills</mat-card-subtitle>
      
      <mat-card-content>
        <mat-list>
          <mat-list-item>Name:</mat-list-item>
         
          <mat-list-item>Role:</mat-list-item>
        
          <mat-list-item>Address:</mat-list-item>
        </mat-list>
      </mat-card-content>
      
      <mat-card-footer>	Stackroute </mat-card-footer>
    </mat-card>
  </div>
