<div *ngIf="firstTime_check">
    <div class="card shade">
        <div class="card-header text-primary border-light">Academics</div>

        <div class="card-body">


            <ul class="list-group list-group-flush">
                <div class="w-auto" *ngFor="let item of UserData.academics; index as i">
                    <a href="#AcadsModal-{{i}}" class="list-group-item list-group-item-light list-group-item-action" data-toggle="modal">{{item.stream}}</a>



                    <div class="modal fade" id="AcadsModal-{{i}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Academics</h4>
                                    <button class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">

                                        <div class="card-header d-flex">
                                            <h3 style="flex-grow: 20">Academic Qualifications</h3>
                                            <a href="#UpdateAcadModal-{{i}}" data-toggle="modal">
                                                <i class="material-icons">mode_edit</i>
                                            </a> &nbsp;
                                            <a (click)="delete(i)" data-dismiss="modal">
                                                <i class="material-icons" style="color: red;">delete</i>
                                            </a>
                                        </div>
                                        <div class="card-body">

                                            <br> Qualification: {{item.qualification}}
                                            <br> Institute Name: {{item.instituteName}}
                                            <br> Year of Joining: {{item.yearOfJoining}}
                                            <br> Year of Completion: {{item.yearOfCompletion}}
                                            <br> Institute Type: {{item.instituteType}}
                                            <br> Stream: {{item.stream}}
                                            <br> Marks: {{item.marks}}
                                        </div>
                                    </div>
                                </div>
                                <!-- end modal body -->
                            </div>
                            <!-- end modal-content -->
                        </div>
                        <!-- end modal-dialog -->
                    </div>
                    <!-- end myModal -->


                    <div class="modal fade" id="UpdateAcadModal-{{i}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Academics</h4>
                                    <button class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <!-- end modal-header -->
                                <div class="modal-body">
                                    <form class="form-horizontal" id="academy-form" (submit)="update(i)">

                                        <div class="center-align">
                                            <mat-form-field>
                                                <input matInput placeholder="My qualification is" [(ngModel)]="editPost_Academy[i].qualification" name="qual">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput placeholder="from the Institute" [(ngModel)]="editPost_Academy[i].instituteName" name="instituteName">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput placeholder="I joined in year" [(ngModel)]="editPost_Academy[i].yearOfJoining" name="joinYear">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput placeholder="and graduated in year" [(ngModel)]="editPost_Academy[i].yearOfCompletion" name="completeYear">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput placeholder="my stream was" [(ngModel)]="editPost_Academy[i].stream" name="stream">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput placeholder="My final marks were" [(ngModel)]="editPost_Academy[i].marks" name="marks">
                                            </mat-form-field>
                                        </div>
                                        <hr>
                                        <button class="btn btn-warning susbmitbtn pull-right" type="submit">Update</button> &nbsp;&nbsp;

                                    </form>
                                </div>
                                <!-- end modal-body -->
                            </div>
                            <!-- end modal-content -->
                        </div>
                        <!-- end modal-dialog -->
                    </div>
                    <!-- end myModal -->

                </div>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal7">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Academics</h4>
                <button class="close" data-dismiss="modal">&times;</button>

            </div>
            <!-- end modal-header -->
            <div class="modal-body">
                <form class="form-horizontal" id="academy-form" (submit)="addPost_Academy()">

                    <div class="center-align">
                        <mat-form-field>
                            <input matInput placeholder="My qualification is" [(ngModel)]="newPost_Academy.qualification" [ngModelOptions]="{standalone: true}"
                                name="qual">
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" placeholder="from the Institute" [(ngModel)]="newPost_Academy.instituteName" name="instituteName" matInput
                                [formControl]="searchTerm" [matAutocomplete]="auto">

                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let uni of university" [value]="uni.instituteName">
                                    {{ uni.instituteName }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <!-- <mat-form-field>
                                <input matInput placeholder="from the Institute" [(ngModel)]="newPost_Academy.instituteName"
                                    name="instituteName">
                            </mat-form-field> -->

                        <mat-form-field>
                            <input matInput placeholder="I joined in year" [(ngModel)]="newPost_Academy.yearOfJoining" name="joinYear">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="and graduated in year" [(ngModel)]="newPost_Academy.yearOfCompletion" name="completeYear">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="my stream was" [(ngModel)]="newPost_Academy.stream" name="stream">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="My final marks were" [(ngModel)]="newPost_Academy.marks" name="marks">
                        </mat-form-field>
                    </div>
                    <hr>
                    <button class="btn btn-primary susbmitbtn pull-right" type="submit">Send</button> &nbsp;&nbsp;

                </form>
            </div>
            <!-- end modal-body -->
        </div>
        <!-- end modal-content -->
    </div>
    <!-- end modal-dialog -->
</div>
<!-- end myModal -->