<div *ngIf="acad_check">
    <div class="card shade">
        <div class="card-header text-primary border-light">Academics</div>

        <div class="card-body">
            Profile Id: {{getPost_Academy.profileId}}
            <br> Qualification: {{getPost_Academy.profileId}}
            <br> Institute Name: {{getPost_Academy.instituteName}}
            <br> Year of Joining: {{getPost_Academy.yearOfJoining}}
            <br> Year of Completion: {{getPost_Academy.yearOfCompletion}}
            <br> Institute Type: {{getPost_Academy.instituteType}}
            <br> Stream: {{getPost_Academy.stream}}
            <br> Marks: {{getPost_Academy.marks}}
        </div>
    </div>
</div>




<div class="modal fade" id="myModal7">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Academics</h4>
                <button class="close" data-dismiss="modal">&times;</button>

            </div>
            <!-- end modal-header -->
            <div class="modal-body">
                    <form class="form-horizontal" id="academy-form" (submit)="addPost_Academy()">
     
                        <div class="center-align">
                            <mat-form-field>
                                <input matInput placeholder="My qualification is" [(ngModel)]="newPost_Academy.qualification" [ngModelOptions]="{standalone: true}"
                                    name="qual">
                            </mat-form-field>
     
                            <mat-form-field>
                                <input matInput placeholder="from the Institute" [(ngModel)]="newPost_Academy.instituteName"
                                    name="instituteName">
                            </mat-form-field>
     
                            <mat-form-field>
                                <input matInput placeholder="I joined in year" [(ngModel)]="newPost_Academy.yearOfJoining"
                                    name="joinYear">
                            </mat-form-field>
     
                            <mat-form-field>
                                <input matInput placeholder="and graduated in year" [(ngModel)]="newPost_Academy.yearOfCompletion"
                                 name="completeYear">
                            </mat-form-field>
     
                            <mat-form-field>
                                <input matInput placeholder="my stream was" [(ngModel)]="newPost_Academy.stream" name="stream">
                            </mat-form-field>
     
                            <mat-form-field>
                                <input matInput placeholder="My final marks were" [(ngModel)]="newPost_Academy.marks" name="marks">
                            </mat-form-field>
                        </div>
                        <hr>
                        <button class="btn btn-primary susbmitbtn" type="submit">Send</button> &nbsp;&nbsp;
     
                    </form>
                </div>
            <!-- end modal-body -->
        </div>
        <!-- end modal-content -->
    </div>
    <!-- end modal-dialog -->
</div>
<!-- end myModal -->