<br><br>


<!-- <p>Scroll Up and Down this page to see the parallax scrolling effect.</p>

<div class="parallax"></div>

<div style="height:1000px;background-color:red;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div> -->

    <div class="bgimg-1"> <br><br><br><br>
      <h1>Welcome to Matchify</h1> 
      <h4>It's time you found your right match</h4> 
      <div class="caption1">
          <a [routerLink]="['/login']"><span class="Border">GET STARTED</span></a>
      </div>
    </div>
    
    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify-content-center;">
      <h3 style="text-align:center;">What do we do ?</h3><br>
      <p>Matchify is a web site trend where the corporate professionals can find their right match for the required job. We can search for profiles based on their skillset, projects worked in, current location, trainings undergone and experience as per the requirement of your project.</p>
    </div>
    
    <div class="bgimg-2">
      <div class="caption2">
        <span class="Border" style="background-color:transparent;color: #f7f7f7;">WE PROVIDE YOU THE BEST POSSIBLE MATCH RESULTS</span>
      </div>
    </div>
    
    <div style="position:relative;">
      <div style="color:#ddd;background-color:rgb(18, 42, 51);text-align:center;padding:50px 80px;text-align: justify-content-center;">
        <p>Matchify is a web site where the corporate professionals can find their right match for the required job.</p>
      </div>
    </div>
    
    <div class="bgimg-3">
      <div class="caption3">
        <span class="Border" style="background-color:transparent; color: #f7f7f7;">Your SEARCH for the right MATCH ends here</span>
      </div>
    </div>
    
    <div style="position:relative;">
      <div style="color:#ddd;background-color:rgb(26, 57, 88);text-align:center;padding:50px 80px;text-align: justify-content-center;">
        <p>We have the specific portfolios and templates as per their skill-set, Personal Info and visiting card so that there is uniformity in the employees profiles.</p>
      </div>
    </div>
    
    <div class="bgimg-2">
      <div class="caption4">
        <span class="Border" style="background-color:transparent; color: #f7f7f7;">Employee can update his profile based on his skills, projects worked in, trainings undergone, experience and locations.</span>
      </div>
    </div>
  


        
        