.profileSection {
    margin-top: 30px;
}

    #myModal{
        margin-top: 280px;
    }

#addProfile {
    background: #2469d1;
    color: white;
}

a {
    text-decoration: none;
}

.drop li a:hover {
    background: #2469d1;
    color: white;
}

.flex-container{
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: stretch; */
}

.column {
    flex: 30%;
    max-width: 30%;
    margin: 10px;
}

.column > * {
    margin: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 40%;
        max-width: 40%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
.dropdown{
    position: fixed;
    bottom: 0;
}
button{
    margin-bottom: 20px;
    float: right;
}
#img1{
    margin-top: 40px;
    /* Half height */
    height: 300px;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img2{
    width: 200px;
    height: 200px; 
    margin-top: -100px; 
}

.profileheader{
  padding: 0;
}


/* Welcome User - Dont Change*/
.bgimg-1{
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('https://avatars.mds.yandex.net/get-pdb/231404/eb784cd8-79d7-43d5-a4ff-5ab5471d0755/orig');
    min-height: 450px;
}
.caption1 {
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption1 span.border{
    background-color: black;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}
.bgimg-1 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: 300;
    color: white;
    text-align: center; 
    
}

.bgimg-1 h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
}
