<!-- <div class="profileheader">
  <img id="img1" class="img-fluid" src="http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/ayhje-wallpapers-525411532-1920x1080.jpg"
    alt="background image">
</div> -->
<div class="bgimg-1"> <br><br><br><br><br><br>
  <h1>Welcome User</h1> 
  <h4>Press the plus icon to start filling your profile</h4> 
  <div class="caption1 d-flex justify-content-center">
      <!-- <a [routerLink]="['/login']"><span class="border">GET STARTED</span></a> -->
      <span>
        <img id="img2" class="img-fluid rounded-circle" src="https://scontent.fblr2-1.fna.fbcdn.net/v/t1.0-9/21430553_588573508200153_2361372440587924427_n.jpg?_nc_cat=0&oh=cdfb60622258f5ce98203032f96e7d87&oe=5BFF4AB8"
          alt="background image">
      </span>
  </div>
</div>



<div class="container profileSection">
  <div class="flex-container">

    <div class="column">
      <app-personal-info></app-personal-info>
      <app-certificates></app-certificates>
    </div>
    <div class="column">
      <app-skills></app-skills>
      <app-location></app-location>
      <app-academic-qualifications></app-academic-qualifications>
    </div>
    <div class="column">
      <app-experience></app-experience>
      <app-projects></app-projects>
    </div>

  </div>

  <br>
  <div class="dropdown">
    <button mat-fab color="primary" class="btn" id="addProfile" type="button" data-toggle="dropdown"><mat-icon>add</mat-icon>
      <span class="caret"></span></button>
    <ul class="dropdown-menu drop">
      <li><a href="#myModal1" data-toggle="modal" class="dropdown-item">Personal Info</a></li>
      <li><a href="#myModal2" data-toggle="modal" class="dropdown-item">Skills</a></li>
      <li><a href="#myModal3" data-toggle="modal" class="dropdown-item">Experience</a></li>
      <li><a href="#myModal4" data-toggle="modal" class="dropdown-item">Location</a></li>
      <li><a href="#myModal5" data-toggle="modal" class="dropdown-item">Projects</a></li>
      <li><a href="#myModal6" data-toggle="modal" class="dropdown-item">Training and Certification</a></li>
      <li><a href="#myModal7" data-toggle="modal" class="dropdown-item">Academic Qualification</a></li>
    </ul>
  </div>

</div>

<div class="container">
</div>