<form (submit)="addPost_PI()">
  
    <div class="example-container">
      <h4>Profile Id</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_PI.profileId" name="profileId">
    
      <br>
    
      <h4>Name</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_PI.name" name="name">
    
      <br>
    
      <h4>Age</h4>
      <br>
      <input type="text" [(ngModel)]="newPost_PI.age" name="age">
    
      <br>
    
      <h4>Contact No</h4> 
      <br>
      <input type="text" [(ngModel)]="newPost_PI.mobile" name="mobile">
    
      <br>
    
      <h4>Email</h4>
      <input type="text" [(ngModel)]="newPost_PI.email" name="email">

      <br>
    
      <h4>Picture</h4>
      <input type="text" [(ngModel)]="newPost_PI.picture" name="pic">

      <br>
    
      <h4>Date of Birth</h4>
      <input type="text" [(ngModel)]="newPost_PI.dob" name="dob">

      <br>
    
      <h4>Gender</h4>
      <input type="text" [(ngModel)]="newPost_PI.gender" name="gender">

      <br>
    
      <h4>Blood Group</h4>
      <input type="text" [(ngModel)]="newPost_PI.bloodGroup" name="blood">

      <br>
    
      <h4>Facebook</h4>
      <input type="text" [(ngModel)]="newPost_PI.facebook" name="facebook">

      <br>
    
      <h4>LinkedIn</h4>
      <input type="text" [(ngModel)]="newPost_PI.linkedin" name="linkedin">

      <br>
    
      <h4>Github</h4>
      <input type="text" [(ngModel)]="newPost_PI.github" name="github">
  </div>
    <br>
    <button color="warn" type="submit" value="submit">Post</button>
  </form>